{% extends 'layout.haml' %}

{% block content %}
<div class="row">
    <div class="col s6 offset-s3">

<div class="row">
<form class="col s12" method="POST" action="{% url 'account_login' %}" style="padding-top: 100px;">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{redirect_field_value}}" value="{{redirect_field_value}}">
  <input type="hidden" name="next" value="{{request.GET.next}}">
  {% endif %}

  <div class="input-field">
      <input type="text" name="login" id="id_login" autofocus="autofocus" required class="validate">
      <label for="id_login">ユーザー名</label>
  </div>

  <div class="input-field">
      <input type="password" name="password" id="id_password" required class="validate">
      <label for="id_password">パスワード</label>
  </div>

  <div class="right">
      <button type="submit" class="btn waves-effect waves-brown">ログイン</button>
  </div>

</form>
</div>

<div class="row">
        <p class="center">
            <a class="deep-orange-text darken-4" href="{% url 'account_reset_password' %}">パスワードを忘れた場合はこちら</a>
        </p>
</div>
{% endblock content %}
