{% extends 'layout.haml' %}

{% load account %}

{% block title %}パスワードの再設定 - PerfectSquare{% endblock %}
{% block pagetitle %}パスワード再設定{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <div class="row">
            <form method="POST" action="{% url 'account_reset_password' %}" class="col s12">
                <ol>
                    <li>メールアドレスを入力してください。</li>
                    <li>パスワード再設定URLの記載されたメールが送信されます。</li>
                    <li>URLをクリックし、そのページでパスワードを再設定してください。</li>
                </ol>

                {% csrf_token %}
                <div class="input-field inline col s6" style="margin-top: 30px;">
                    <input type="text" class="validate" name="email" placeholder="username@example.com"
                           required id="id_email">
                    <label for="id_email">メールアドレス</label>
                    <button type="submit" class="btn waves-effect waves-teal right">送信</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
