{% extends 'layout.haml' %}

{% load account %}

{% block title %}パスワードのリセット - PerfectSquare{% endblock %}

{% if user.is_authenticated %}
{% user_display user as user_display %}
{% block alert %}
<div class="alert alert-secondary" role="alert">
  現在 {{user}} でログインしています。
</div>
{% endblock %}
{% endif %}

{% block content %}
<h3>パスワードの再設定</h3>

<p>再設定用のメールを送信します。メールアドレスを入力してください。</p>
<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset form-inline" >
  {% csrf_token %}
  <div class="form-group" >
    <input type="text" class="form-control" name="email" placeholder="example@example.com" required id="id_email" >
  </div>
  <button type="submit" class="btn btn-default mx-sm-3" >再設定メールを送信</button>
</form>
{% endblock %}
