/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
	  font-size: inherit;
}

/* Fixed Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.waves-effect.waves-brown {
    background-color: rgba(121, 85, 72, 0.9);
}

.waves-effect.waves-brown:hover {
    background-color: rgba(121, 85, 72, 0.65)
}

a.dropdown-trigger:focus {
    outline: none;
}
