- load is_playable
- load check_tag

- include "cms/_pagination.haml"

%table.table.table-striped
  %tbody
    - for content in contents
      - user_checked request.user content as checked
      %tr
        %td{style: "width: 1em;"}
          - if checked
            - format_date checked as date
            %i.fa.fa-check-circle{data-toggle: "tooltip", data-placement: "left", title: "#{ date }に視聴しました"}
        %td
          - is_playable content as playable
          - if playable
            %a{href: "{% url 'cms:watch' content.id %}"} #{ content.title }
          - else
            %a{href: "#{ content.filepath }"} #{ content.title }
