- load static
- load all_tags
- get_all_tags as tags

/ Dropdown Structure
- if user.is_authenticated
  / Modal Structure
  .modal#logout-modal
    .modal-content
      %p.center.deep-orange-text.darken-4 ログアウトしてよろしいですか？
    .modal-footer
      %form{method: "POST", action: "{% url 'account_logout' %}"}
        - csrf_token
        %button.btn.waves-effect.waves-brown{type: "submit"} はい
        %a.modal-close.btn-flat{href: "#!"} いいえ

/ Navbar mobile Trigger Icon
.container
  %a.top-nav.sidenav-trigger.full.hide-on-large-only{href: "#!", data-target: "nav-mobile"}
    %i.material-icons menu

%ul#nav-mobile.sidenav.sidenav-fixed
  %li.logo
    %a.brand-logo.center#logo-container{href: "{% url 'cms:index' %}"}
      %img#front-page-logo{src: "{% static 'cms/logo.png' %}"}
  %li
    %a{href: "/"}
      %i.material-icons.left home
      Top
  - if user.is_authenticated
    %ul.collapsible.collapsible-accordion
      %li
        %a.collapsible-header
          %i.material-icons.left person
          #{ user.username }
        .collapsible-body
          %ul
            - include "_navbar_dropdown_user.haml"
      %li
        %a.collapsible-header
          %i.material-icons attachment
          Tags
        .collapsible-body
          %ul
            - for tag in tags
              %li
                %a{href: "{% url 'cms:tag_index' tag.id %}"} #{ tag.name }
