{% load static %}
!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1.0", name: "viewport"}/
    %title
      - block title
        PerfectSquare
    / CSS
    %link{href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet"}/
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css", media: "screen,projection", rel: "stylesheet", type: "text/css"}/
    %link{href: "{% static 'cms/style.css' %}", media: "screen,projection", rel: "stylesheet", type: "text/css"}/
  %body
    / Navigation
    %header
      - include '_navbar.haml'
    %main
      #index-banner.section.no-pad-bot
        .container
          - block content
    %footer.page-footer.grey
      .container
        .row
          .col.l6.s12
            %h5.white-text PerfectSquare
            %p.grey-text.text-lighten-4 powered by Materialize, Heroku, Django and Python3.
          .col.l3.s12
            %h5.white-text Product Links
            %ul
              %li
                %a.white-text{href: "https://materializecss.com"} Materialize
              %li
                %a.white-text{href: "https://www.heroku.com/"} Heroku
              %li
                %a.white-text{href: "https://www.djangoproject.com/"} Django
              %li
                %a.white-text{href: "https://www.python.org/"} Python
          .col.l3.s12
            %h5.white-text Contact me
            %ul
              %li
                %a.white-text{href: "https://twitter.com/sandmarkM"} Twitter
              %li
                %a.white-text{href: "http://sandmark.hateblo.jp"} Blog
              %li
                %a.white-text{href: "https://www.facebook.com/sandmarkM"} Facebook
              %li
                %a.white-text{href: "https://github.com/sandmark"} GitHub
      .footer-copyright
        .container
          Made by
          %a.grey-text.text-lighten-3{href: "https://github.com/sandmark"} sandmark
    / Scripts
    %script{src: "https://code.jquery.com/jquery-2.1.1.min.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"}
    %script{src: "{% static 'cms/init.js' %}"}
    %script{src: "{% static 'cms/layout.js' %}"}

    / Toast
    - if messages
      %script
        - for message in messages
          M.toast({html: "#{ message }", class: "rounded"});
