{% load is_playable %}
{% load check_tag %}
<table class="table table-striped">
  <tbody>
    {% for content in contents.object_list %}
    {% user_checked request.user content as checked %}
    <tr>
      <td style="width: 1em;" >
        {% if checked %}
        {% format_date checked as date %}
        <i class="fa fa-check-circle" data-toggle="tooltip" data-placement="left"
           title="{{date}}に視聴しました" ></i>
        {% endif %}
      </td>
      <td>
        {% is_playable content as playable %}
        {% if playable %}
        <a href="{% url 'cms:watch' content.id %}" >
          {{ content.title }}
        </a>
        {% else %}
        <a href="{{ content.filepath }}" >
          {{ content.title }}
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Pagination -->
<ul class="pagination justify-content-center">
  {% if contents.has_previous %}
  <li class="page-item">
  {% else %}
  <li class="page-item disabled" >
  {% endif %}

    <a class="page-link" href="?{{contents.previous_page_number.querystring}}"
       aria-label="Previous" >
      <span aria-hidden="true" >&laquo;</span>
      <span class="sr-only">前へ</span>
    </a>
  </li>

  {% for page in contents.pages %}
  {% if page %}
  {% if page == contents.number %}
  <li class="page-item active">
  {% else %}
  <li class="page-item" >
  {% endif %}
    <a class="page-link" href="?{{ page.querystring}}" >{{ page }}</a>
  </li>
  {% else %}
  <li class="page-item disabled" ><a href="#" class="page-link" >...</a></li>
  {% endif %}
  {% endfor %}
  {% if contents.has_next %}
  <li class="page-item">
  {% else %}
  <li class="page-item disabled" >
  {% endif %}
    <a class="page-link" href="?{{contents.next_page_number.querystring}}"
       aria-label="Previous" >
      <span aria-hidden="true" >&raquo;</span>
      <span class="sr-only">次へ</span>
    </a>
  </li>
</ul>

<!-- admax -->
<script src="//adm.shinobi.jp/s/a4a2086ad544a6162ea43c19f2741430"></script>
<!-- admax -->
