{% load is_playable %}
{% load check_tag %}

<table class="table table-striped">
  <tbody>
    {% for content in contents %}
    {% user_checked request.user content as checked %}
    <tr>
      <td style="width: 1em;" >
        {% if checked %}
        {% format_date checked as date %}
        <i class="fa fa-check-circle" data-toggle="tooltip" data-placement="left"
           title="{{date}}に視聴しました" ></i>
        {% endif %}
      </td>
      <td>
        {% is_playable content as playable %}
        {% if playable %}
        <a href="{% url 'cms:watch' content.id %}" >
          {{ content.title }}
        </a>
        {% else %}
        <a href="{{ content.filepath }}" >
          {{ content.title }}
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Pagination -->
{% load define_action %}

{% if is_paginated %}

{% if not page_obj.has_previous %}
  {% define "disabled" as previous %}
{% endif %}

{% if not page_obj.has_next %}
  {% define "disabled" as next %}
{% endif %}

<ul class="pagination justify-content-center">
    <li class="page-item {{previous}}">
        <a class="page-link" href="?page=1" aria-label="First">&laquo;</a>
    </li>

    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            {{ page_obj.previous_page_number }}
        </a>
    </li>
    {% endif %}

    <li class="page-item disabled">
        <a class="page-link" href="?page={{ page_obj.number }}" aria-label="Current">{{ page_obj.number }}</a>
    </li>

    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            {{ page_obj.next_page_number }}
        </a>
    </li>
    {% endif %}

    <li class="page-item {{next}}">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">&raquo;</a>
    </li>
</ul>

{% endif %}
