{% extends 'layout.html' %}

{% block alert %}
<div class="alert alert-info" >
  <ul>
    {% for tag in selected_tags %}
    <li>{{tag.name}}</li>
    {% endfor %}
  </ul>
</div>
{% endblock%}

{% block content %}
<form method="POST" action="{% url 'cms:tag_set' %}" >
  {% csrf_token %}
  <div class="form-group" >
    <select multiple class="form-control" name="selected_tags" >
      {% for tag in tags %}
      <option value="{{tag.id}}" >{{tag.name}}</option>
      {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-secondary" >設定</button>

  <hr>

  <div class="form-group" >
    <select multiple class="form-control" name="selected_contents" size="30">
      {% for content in contents %}
      <option value="{{content.id}}">{{content.title}}</option>
      {% endfor %}
    </select>
  </div>
</form>
{% endblock %}
