{% extends 'cms/watch.html' %}
{% load watch %}

{% block navlink %}
<li class="nav-item" >
  <a class="nav-link active" >HTML5</a>
</li>
<li class="nav-item" >
  <a class="nav-link" href="{% url 'cms:watch_flash' content.id %}" >Flash</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'cms:watch_jw' content.id %}" >JW Player</a>
</li>
{% endblock %}

{% block player %}
<video src="{{content.filepath|quote_filepath}}" type="video/mp4" controls preload></video>
{% endblock %}
