{% extends 'cms/watch.html' %}
{% load static %}
{% load watch %}

{% block navlink %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'cms:watch' content.id %}" >HTML5</a>
</li>
<li class="nav-item">
  <a class="nav-link active">Flash</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'cms:watch_jw' content.id %}" >JW Player</a>
</li>
{% endblock %}

{% block player %}
<object id="f4Player" width="480" height="270"
        type="application/x-shockwave-flash"
        data="{% static 'cms/player.swf' %}">
  <param name="movie" value="{% static 'cms/player.swf' %}" />
  <param name="quality" value="high" />
  <param name="menu" value="true" />
  <param name="scale" value="noscale" />
  <param name="allowfullscreen" value="true">
  <param name="allowscriptaccess" value="always">
  <param name="swlivevonnect" value="true" />
  <param name="cachebusting" value="false">
  <param name="flashvars"
         value="skin={% static 'cms/f4default.swf' %}&video={{content.filepath|quote_filepath}}"/>
  <a href="http://www.adobe.com/go/flashplayer/">Download it from Adobe.</a>
  <a href="http://gokercebeci.com/dev/f4player" title="flv player">flv player</a>
</object>
{% endblock %}
