{% extends 'cms/watch.html' %}
{% load static %}
{% load watch %}

{% block navlink %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'cms:watch' content.id %}" >HTML5</a>
</li>
<li class="nav-item" >
  <a class="nav-link" href="{% url 'cms:watch_flash' content.id %}" >Flash</a>
</li>
<li class="nav-item">
  <a class="nav-link active">JW Player</a>
</li>
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{% static 'cms/jwplayer.js' %}"></script>
<script type="text/javascript" src="{% static 'cms/jwplayer.html5.js' %}"></script>
{% endblock %}

{% block jwplayer %}
<div align="center">
  <div id='jwplayer'>This div will be replaced by the JW Player.</div>
</div>

<script type='text/javascript'>
 jwplayer('jwplayer').setup({
   "flashplayer": "{% static 'cms/flash.swf' %}",
   "width": "640",
   "height": "360",
   "file": "{{content.filepath|quote_filepath}}"
 });
</script>
</div>
{% endblock %}
